{
  "dev": {
    "NODE_ENV": "development",
    "SECRET": "secret",
    "PORT": "8081"
  },
  "test": {
    "NODE_ENV": "testing",
    "SECRET": "secret",
    "PORT": "8081"
  },
  "prod": {
    "NODE_ENV": "production",
    "SECRET": "secret",
    "PORT": "8081"
  }
}
